@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  .main-text {
    font-family: "Source Sans 3", sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 12px;
    letter-spacing: -0.64px;
    max-width: 832px;
	text-align: center;
	
  }
}
